body {
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Open Sans', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Top nav bar */

div.top_nav_bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(73, 73, 73, 0.925);
}
img.imgNavBar {
    width: 3%;
    height: auto;
}
p.titleSite {
    margin-left: 1%;
    margin-right:45%;
    font-weight: 700;
}

a.link_menu {
    margin-right: 4%;
    text-decoration: underline 2px solid rgb(191, 173, 224);
    color: white;
}
a.link_menu:hover {
    margin-right: 4%;
    text-decoration: underline 2px solid white;
    color: rgb(191, 173, 224);
}


/* Content home */

div#content_home{
    margin-top: 5%;
}
.headerHome {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.973);
}
p.titleHome1 {
    position: absolute;
    font-size: 280%;
    top: 40%;
    left: 8%;
    color: white;

}
p.titleHome2 {
    position: absolute;
    text-align: justify;
    width: 20%;
    font-size: 120%;
    top: 40%;
    right: 3%;
    color: white;
}
svg.imgFaceHome {
    width: 50%;
    height: 30%;
    border-radius: 15px;
    padding: 4%;
}
.downArrowSeparate {
    color: white;
    margin-top: 1%;
    margin-left: 47.5%;
    width: 5%;
    height: 5%;
}
#Content2Home {
    display: flex;
    /* background-color: yellow; */
    width: 100%;
}

.BoxContent {
    width: 50%;
    margin-left: 2%;
    /* background-color: tomato; */
    height: max-content;
}

.event  {
    border-radius: 10px;
    padding: 5%;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(38, 50, 56);
    height: 100%;
}
.BackgroundImage {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    height: 40%;
}
.Content {
    padding: 10%;
}
p.titleSection {
    font-size: 150%;
    text-align: center;
}
p.descriptionSection {
    text-align: justify;
}

/* Content SMA */

div#content_sma {
    margin-top: 10%;
    
}
div.header {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(231, 231, 231, 0.377);
    border-radius: 20px;
    width: 60%;
    display: block;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}
.boxSVG {
    display: flex;
    justify-content: center;
}
.svgSMA {
    width: 20%;
    height: 20%;
}
h2.TitleHeader {
    text-align: center;
}
p.subTitleHeader {
    margin-top: 6%;
    width: 70%;
    font-size: 120%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div.choiceWebSite {
    margin-top: 3%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: auto;
}
p.onlyPublishedWebSite{
    cursor: pointer;
    height: 25%;
    border-radius: 20px;
    font-size: 110%;
    text-align: center;
    padding: 10%;
    width: 100%;
    height: 15%;
    margin-right: 10%;
    background-color: rgba(139, 197, 224, 0.842);
}

p.allWebSite{
    padding: 10%;
    cursor: pointer;
    height: 30%;
    font-size: 120%;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: rgba(200, 139, 224, 0.842);
}
.invisible {
    display: none;
}
.visible {
    display: inline;
}

p.title_section_sma {
    font-size: 180%;
    font-family: 'Times New Roman', Times, serif;
}
a.plus_or_minus_button{
    text-decoration: underline black;
    font-size: 100%;
    cursor: pointer;
}
a.plus_or_minus_button:active{
    text-decoration: underline white;
    font-size: 100%;
}
div.project {
    margin-top: 3%;
    margin-left: 10%;
    display: inline-block;
    border: solid 2px rgba(0, 0, 0, 0.699);
    border-radius: 15px;
    padding: 1%;
    height: 250px;
    width: 250px;
}
p.title_project {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.699);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul.description_project li{
    font-size: 110%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a.lien_box {
    text-decoration: none;
    color: black;
}

/* Contact  */

#bodyForm {
    display: flex;
    justify-content: space-between;
    background-color: #d2faff;
    font-family: 'Ubuntu', sans-serif;
}
.svgContact {
    margin-top: 10vh;
    margin-left: 10vw;
    width: 30%;
    height: 30%;
    left: 0%;
}
.boxForm {
    margin-top: 10%;
    margin-bottom: 20%;
    display: flex;
    justify-content: right;
}
.main {
    background-color: #FFFFFF;
    width: 400px;
    padding-bottom: 2%;
    height: fit-content;
    margin-right: 0vw;
    margin-left: 20vw;
    border-radius: 30px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.TitleSign {
    text-align: center;
    padding-top: 40px;
    color: #8C55AA;
    font-weight: bold;
    font-size: 23px;
}


form.ConnexionForm {
    padding-top: 20px;
}

#code {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 100%;
    background: rgba(136, 126, 126, 0.253);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}
#mail {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 110%;
    background: rgba(136, 126, 126, 0.253);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}
#name {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 110%;
    background: rgba(136, 126, 126, 0.253);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}
.label {
    margin-left: 50px;
    width: 70%;
    color: rgb(38, 49, 54);
    font-size: 120%;
    font-weight: 600;
    box-sizing: border-box;
    text-align: left;
}
.submit {
    cursor: pointer;
    border-radius: 70px;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 30%;
    font-size: 18px;
    border: 1px solid #fff;
}

.forgotPass {
    color: #E1BEE7;
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
}

a.linkLogIn {
    color: #E1BEE7;
    text-decoration: none
}

/* Settings */
div.bodySetting {
    margin-top: 10%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 120%;
    margin-left: 5%;
}
div.settings {
    border-radius: 20px;
    padding: 5%;
    color: rgb(66, 66, 66);
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.801);
}
.divTitleSettings {
    display: flex;
    align-items: center;
}
.svgSettings {
    width: 20%;
    height: 20%;
}
h1.TitleSettings {
    
    margin-left: 20%;
    text-align: center;
}
h3.TitleSetting {
    margin-top: 10%;
}

div.choixCouleur1 {
    background: linear-gradient(to right,#75b0d8, #a96dbb);
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
    width: 10%;
    height: 10%;
    margin-left: 0%;
}
.ColorDiv1 {
    background: linear-gradient(to right,#75b0d8, #a96dbb);
}
div.choixCouleur2 {
    background: linear-gradient(to right,#d6d875, #bb6d6d);
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
    width: 10%;
    height: 10%;
    margin-left: 12.5%;
}
.ColorDiv2 {
    background: linear-gradient(to right,#d6d875, #bb6d6d);
}
div.choixCouleur3 {
    background: linear-gradient(to right,#acff93, #2c8064);
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
    width: 10%;
    height: 10%;
    margin-left: 25%;
}
.ColorDiv3 {
    background: linear-gradient(to right,#acff93, #2c8064);
}
div.choixCouleur4 {
    background: linear-gradient(to right,#000000, #ffffff);
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
    width: 10%;
    height: 10%;
    margin-left: 37%;
}
.ColorDiv4 {
    background: linear-gradient(to right,#000000, #ffffff);
}
div.choixCouleur5 {
    background: black;
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
    width: 10%;
    height: 10%;
    margin-left: 49%;
}
.ColorDiv5 {
    background: black;
}
div.choixCouleur6 {
    background: white;
    border: 1px solid black;
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
    width: 10%;
    height: 10%;
    margin-left: 61%;
}
.ColorDiv6 {
    background: white;
}
 /* Footer */

div.footer {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1%;
    color: white;
    bottom: 0%;
    background-color: rgb(44, 44, 44);
    width: 98%;
    height: 10%;
}
div.sitesAvailable {
    overflow: auto;
    margin-top: 3%;
    padding-left: 2%;
    width: 30%;
}
a.siteAvailable {
    color: white;
    text-decoration: none;
}
.svgSites {
    width: 40%;
    height: 40%;
}
div.useLanguages {
    overflow: hidden;
    text-align: center;
    padding-left: 2%;
    width: 30%;
    border-left: solid 2px white;
    border-right: solid 2px white;
}
.svgLanguages {
    width: 40%;
    height: 35%;
}
div.contactInformations {
    margin-top: 3%;
    padding-right: 3%;
    text-align: center;
}
.svgFooterContact {
    width: 40%;
    height: 40%;
}