body {
    background: linear-gradient(60deg,#7ED8BD, #FFE8AD);
}

/* Top nav bar */

div.top_nav_bar {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #c4c4c4ad;
}

.uncheck {
    background: rgba(255, 255, 255, 0.51);
}
.check {
    background-color: white;
}
a.link_menu {
    text-decoration: none;
    color: black;
}


/* Home */

div#item_nav_home {
    position: absolute;
    width:8%;
    height: 80%;
    margin-left: 45%;
    top: 10%;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.icon {
    margin-top: 10%;
}

/* Account */

div#item_nav_account {
    position: absolute;
    width:8%;
    height: 80%;
    margin-left: 25%;
    top: 10%;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

/* Found_object */

div#item_nav_found_object {
    position: absolute;
    width:8%;
    height: 80%;
    margin-left: 65%;
    top: 10%;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

/* Messages */

div#item_nav_message {
    position: absolute;
    width:8%;
    height: 80%;
    margin-left: 5%;
    top: 10%;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

/* see_my_activity */

div#item_nav_see_my_activity {
    position: absolute;
    width:8%;
    height: 80%;
    margin-left: 85%;
    top: 10%;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

/* Content home */

div#content_home{
    margin-top: 10%;
}

div.box_home {
    margin-top: 4%;
    margin-left: 15%;
    border: black 2px solid;
    padding: 1%;
    padding-top: 0.2%;
    text-align: center;
    width: 70%;
    background-color: rgba(219, 219, 219, 0.603);
    border-radius: 20px;
}

p.title_box_home{
    font-size: 180%;
    font-weight: bold;
}
p.description_box_home{
    font-size: 130%;
}

/* Content SMA */

div#content_sma {
    margin-top: 10%;
    
}

div.project {
    margin-left: 10%;
    
    display: inline-block;
    border: solid 2px rgba(0, 0, 0, 0.699);
    border-radius: 15px;
    padding: 1%;
    height: 250px;
    width: 250px;
}
p.title_project {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.699);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul.description_project li{
    font-size: 110%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}