#bodyForm {
    background-color: #fcf7ff;
    font-family: 'Ubuntu', sans-serif;
}
.main {
    background-color: #FFFFFF;
    width: 400px;
    padding-bottom: 2%;
    height: fit-content;
    margin: 7vw auto;
    border-radius: 30px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.TitleSign {
    text-align: center;
    padding-top: 40px;
    color: #8C55AA;
    font-weight: bold;
    font-size: 23px;
}


form.ConnexionForm {
    padding-top: 20px;
}

#code {
    letter-spacing: 15px;
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 140%;
    background: rgba(136, 126, 126, 0.253);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}

.submit {
    cursor: pointer;
    border-radius: 70px;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 30%;
    font-size: 18px;
    border: 1px solid #fff;
}

a.linkLogIn {
    color: #E1BEE7;
    text-decoration: none
}