/* Header */
.svgHeroHeader {
    position: absolute;
    z-index: 2;
    width: 60%;
    top: 3%;
    left: auto;
    right: 5%;
    animation: floating 5s ease infinite;
    /* animation: turnSVG 5s .5s ease infinite; */
}

/* Main */
.mainContent {
    margin-top: 2vh;
    margin-bottom: 5vh;
    overflow: hidden;
}
.titleSection {
    color: #222;
    font-size: 200%;
    text-align: center;
    margin: 5% auto 5%;
    opacity: 0;
    transition: all 0.3s ease;
}
.galery {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    row-gap: 8vh;
}
.itemGalery {
    padding: 2%;
    margin: 0 auto;
    color: aliceblue;
    width: 20vw;
    height: 40vh;
    background-image: url('../res/backgroundCard.png');
    background-size: cover;
    background-position: center;
    content: " ";
    opacity: 1;
    border-radius: 10px;
    box-shadow: -5px 6px 5px -1px rgba(15, 15, 15, 0.24);
    transition: all 0.5s ease;
}
.itemGalery:hover {
    transform: scale(1.1);
    box-shadow: -20px 20px 20px -1px rgba(15, 15, 15, 0.24);
    transform: translateY(5%);
    transform: translateX(5%);
}
.titleCardGalery {
    z-index: 10;
    text-align: center;
    font-size: 150%;
    font-weight: 700;
}
.contentCardGalery {
    font-size: 120%;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    /* Header */
    .svgHeroHeader {
        position: absolute;
        z-index: 2;
        width: 90%;
        top: 10%;
        left: auto;
        right: 5%;
        animation: floating 5s ease infinite;
    }
    /* Main */
    .galery {
        display: grid;
        grid-template-columns: 50vw 50vw;
        row-gap: 8vh;
    }
    .itemGalery {
        padding: 2%;
        margin: 0 auto;
        color: aliceblue;
        width: 80%;
        height: 30vh;
        background-image: url('../res/backgroundCard.png');
        background-size: cover;
        background-position: center;
        content: " ";
        opacity: 1;
        border-radius: 10px;
        box-shadow: -5px 6px 5px -1px rgba(15, 15, 15, 0.24);
        transition: all 0.5s ease;
    }
    .titleCardGalery {
        z-index: 10;
        text-align: center;
        font-size: 100%;
        font-weight: 700;
    }
    .contentCardGalery {
        font-size: 80%;
        text-align: justify;
    }
}