@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,700&display=swap');

body {
    background-color: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Nav bar */
.navTopBar {
    width: 100vw;
    background-color: #222;
    display: grid;
    grid-template-columns: 40vw 60vw;
    color: #222;
    position: fixed;
    top: 0;
}
.logoAndName {
    display: grid;
    grid-template-columns: 20% 80%;
}
.logoNavBar {
    width: 50%;
    margin: 5% 0 0 5%;
}
.titleNavBar {
    text-align: left;
    color: #fff;
    font-size: 120%;
    margin-left: -10%;
}
.navigationListe {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style-type: none;
    font-size: 120%;
}
.navBarLink {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .3s ease;
    border-radius: 10px;
}

.navigationItem {
    text-align: center;
    transition: all 0.3s ease;
}
.navigationItem:hover {
    transform: scale(1.05);
}
.navBarLink:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(22, 22, 22);
    padding: 3%;
}

/* Header */
.heroHeader {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #222;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titleHeroHeader {
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    outline: none;
    margin-top: -10%;
    margin-bottom: 5%;
    cursor: crosshair;
}
.descriptionHeroHeader {
    text-align: center;
    font-size: 150%;
    width: 70%;
    margin: 0 auto;
}

/* Main */
.mainContent {
    margin-top: 10vh;
}
.galery {
    display: grid;
    grid-template-columns: 50vw 50vw;
    row-gap: 4vh;
}
.itemGalery {
    padding: 2%;
    margin: 0 auto;
    color: aliceblue;
    width: 30vw;
    height: 60vh;
    background-image: url('../res/backgroundCard.png');
    background-size: cover;
    content: " ";
    border-radius: 10px;
    box-shadow: -5px 6px 5px -1px rgba(21,21,21,0.24);
}
.titleCardGalery {
    z-index: 10;
    text-align: center;
    font-size: 200%;
    font-weight: 700;
}
.contentCardGalery {
    font-size: 140%;
    text-align: justify;
}