:root {
    /* Font Color */
    --theme-color: #0273f5;
    --light-theme: #f3f9ff;

    /* Font Family */
    --fonts-style-x: 'neuzeit-grotesk', sans-serif;
    --fonts-style-y: 'neuzeit-grotesk', sans-serif;

    /* Font Weight */
    --light: 300;
    --regular: 400;
    --bold: 700;
    --black: 900;

}


/* ------------- */
/* Basic Setting */
/* ------------- */

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background-color: var(--light-theme);
}

::selection {
    color: #fff;
    background-color: var(--light-theme);
}


/* ------------- */
/* Content Style */
/* ------------- */

section {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.downloadButton {
    position: relative;
    top: 25px;
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #ffffffee;
    background-color: var(--theme-color);
    box-shadow: 0 5px 10px -5px var(--theme-color);
    cursor: pointer;
    transition: 500ms;
}

.downloadButton:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 20px -15px var(--theme-color);
}

.downloadButton:active {
    transform: scale(.98);
    box-shadow: 0 5px 10px -5px var(--theme-color);
}

.bar-container {
    position: absolute;
    top: 25px;
    width: 50px;
    height: 8px;
    opacity: 0;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ecebec;
    transition: 300ms;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 8px;
    border-radius: 8px;
    background-color: #018f40;
    transition: 5000ms cubic-bezier(0.85, 0, 0.15, 1);
}

.repeat-btn {
    position: absolute;
    visibility: hidden;
    top: 200%;
    vertical-align: middle;
    color: #98c8fe;
    cursor: pointer;
    transition: 300ms;
}

.repeat-btn:hover {
    transform: rotate(180deg);
}

.repeat-btn:active {
    transform: rotate(360deg);
}


/* --------- */
/* Animation */
/* --------- */

.animation-popup {
    animation: Popup 200ms ease-in-out forwards;
}

.animation-popdown {
    animation: Popup 200ms ease-in-out forwards reverse;
}

.animation-bounce {
    animation: Bounce 500ms ease-in-out;
}

@keyframes Popup {
    0% {
        top: 25px;
        width: 50px;
        opacity: 0;
    }
    100% {
        top: -25px;
        width: 300px;
        opacity: 1;
    }
}

@keyframes Bounce {
    0% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}
@media screen and (max-width: 768px) {
    /* Header */
    .svgHeroHeader {
        position: absolute;
        z-index: 2;
        width: 90%;
        top: 10%;
        left: auto;
        right: 5%;
        animation: floating 5s ease infinite;
    }
    
}