
/* Header */
.heroHeader {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.titleHeroHeader {
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    outline: none;
    margin-top: -5%;
    margin-bottom: 5%;
    cursor: crosshair;
}
.descriptionHeroHeader {
    text-align: center;
    font-size: 150%;
    width: 70%;
    margin: 0 auto;
}
.space {
    content: " ";
    height: 12vh;
}
/* Main */
.mainContent {
    margin-top: 2vh;
    scroll-snap-align: start;
}
.titleSection {
    font-size: 200%;
    text-align: center;
}
.galery {
    display: grid;
    grid-template-columns: 50vw 50vw;
    row-gap: 4vh;
}
.itemGalery {
    padding: 2%;
    margin: 0 auto;
    color: aliceblue;
    width: 30vw;
    height: 60vh;
    background-image: url('../res/backgroundCard.png');
    background-size: cover;
    content: " ";
    border-radius: 10px;
    box-shadow: -5px 6px 5px -1px rgba(21,21,21,0.24);
}
.titleCardGalery {
    z-index: 10;
    text-align: center;
    font-size: 200%;
    font-weight: 700;
}
.contentCardGalery {
    font-size: 140%;
    text-align: justify;
}