@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#loader {
    content: " ";
    background-color: #222;
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 10000000;
    left: 42vw;
    right: auto;
    top: 40vh;
    bottom: auto;
    transform: scale(20);
    transition: all 0.5s ease;
}

/* Nav bar */
.navTopBar {
    z-index: 10000;
    width: 100vw;
    /* background-color: #222; */
    display: grid;
    grid-template-columns: 40vw 60vw;
    color: #222;
    position: fixed;
    top: 0;
    transition: all 0.3S ease;
}
.logoAndName {
    display: grid;
    grid-template-columns: 20% 80%;
}
.logoNavBar {
    width: 50%;
    margin: 5% 0 0 5%;
}
#titleNavBar {
    text-align: left;
    color: rgb(19, 19, 19);
    font-size: 120%;
    margin-left: -10%;
    cursor: defaultr;
}
.navigationListe {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style-type: none;
    font-size: 120%;
}
.navBarLink {
    color: rgb(17, 17, 17);
    text-decoration: none;
    transition: all .3s ease;
    border-radius: 10px;
}

.navigationItem {
    text-align: center;
    transition: all 0.3s ease;
}
.navigationItem:hover {
    transform: scale(1.3);
}
.navBarLink:hover {
    cursor: pointer;
    color: rgb(20, 20, 20);
}
#navBarLink2 {
    text-decoration: none;
}
/* Header */
.heroHeader {
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.titleHeroHeader {
    z-index: 10;
    text-align: left;
    width: 50vw;
    margin: 5% auto 1% 5%;
    font-size: 200%;
    font-weight: 700;
    outline: none;
    cursor: crosshair;
    border: none;
    border-radius: 10px;
    /* background: none; */
}
.descriptionHeroHeader {
    z-index: 10;
    width: 50vw;
    text-align: left;
    margin: 0 auto 5% 5% ;
    font-size: 150%;
}
.seeNext {
    border: 1px rgb(34, 34, 34) solid;
    background: none;
    z-index: 10;
    width: fit-content;
    padding: 3%;
    border-radius: 50%;
    text-align: left;
    font-size: 200%;
    margin: 0 auto 0 10% ;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    cursor: pointer;
}
.seeNext:hover {
    transform: rotate(90deg);
    background-color: #fdf366e7;
    animation: shapes 10s ease infinite;
}

/* Animations */
@keyframes floating {
    50% {
        transform: translateY(5%)
    }
    100% {
        transform: translateY(0%)
    }
}
@keyframes shapes {
    33% {
        border-radius: 100% 54% 90% 41% / 100% 87% 55% 44%;
    }
    66% {
        border-radius: 75% 44% 81% 68% / 71% 60% 91% 79%;
    }
    99% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
}